*{
    padding: 0;
}

fieldset {
    border: 0;
}

body, input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    outline: none;
}

input {
    /*border-bottom: 2px solid #323232;*/
    border: none;
}


#titulo-form {
    margin: 20px 0 20px 0;
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
    font-weight: bold; 
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    /*border: 1px solid #CCC;*/
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    box-shadow: none;
}

.grupo input {
    border-bottom: solid 2px #34495e;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: rgb(255, 255, 255);
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.botao {
    font-size: 1.5em;
    background: #F90;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select, label.checkbox {
    cursor: pointer;
}

.form{
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 35%;
    width: 32%;
    padding-left: 3%;
    background: #ffffff;
    border-radius: 10px;
    border:solid 1px #b6b5b5;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

#btn-confirmar{
    margin-left: 150px;
}