#slider {
    position: absolute;
    top: auto;
    width: 790px;
    height: 600px;
    left: 25%;
}

#slider img {
    opacity: 0;
    position: absolute;
    width: 85%;
    height: 85%;
    transition: opacity 800ms;
}

#slider img.selected {
    opacity: 1;
}